# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
logs/
**/target/

# java
*.class
*.war
*.ear

# jrebel
rebel.xml

# bak
*.bak
**/bin/

# vue
node_modules/